{{#> head }}{{/head}}
{{#> body }}
  <h1>Bible Memory</h1>
  <table>
    <thead>
      <tr>
        <th>Passage</th>
        <th>Level</th>
        {{!-- <th>Review Date</th> --}}
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {{#each passages}}
        <tr>
          <th>{{reference}}</th>
          <td>{{level}}</td>
          {{!-- <td>{{reviewDate}}</td> --}}
          <td>
            <a hx-boost="true" href="/{{id}}/review">Review</a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{/body}}