.wrapper {
  padding: 16px;
}

.wrapper pre {
  font-family: inherit;
  margin: 0;
  white-space: pre-wrap;
}

.incorrectWord {
  color: red;
}

.wordHelp {
  color: darkorange;
}

.input {
  border: none;
  width: 8px;
}

.input:focus {
  outline: none;
  padding: 0;
}
