<style>
  .view-header {
    margin: 0 0 16px 0;
  }

  .edit-passage-view {
    padding: 16px;
  }

  .text-box {
    border: 1px solid grey;
    border-radius: 4px;
    height: 32px;
    box-sizing: border-box;
    padding: 8px;
  }

  .text-box--multiline {
    resize: vertical;
    width: 100%;
    height: 300px;
    font-family: inherit;
  }

  .form-label {
    font-size: 14px;
    font-weight: bold;
  }

  .form-group {
    margin-bottom: 16px;
  }

  .submit-button {
    border-radius: 4px;
    background: black;
    color: white;
    font-weight: bold;
    border: none;
    padding: 8px 16px;
    box-sizing: border-box;
    height: 32px;
  }
</style>

<div class="edit-passage-view">
  <h2 class="view-header">Edit {{.Reference}}</h2>
  <form class="form" hx-put="/passages/{{.Id}}">
    <div class="form-group">
      <label class="form-label" for="reference">Reference</label>
      <div>
        <input class="text-box" id="reference" type="text" name="reference" value="{{.Reference}}" />
      </div>
    </div>
    <div class="form-group">
      <label class="form-label" for="level">Level</label>
      <div>
        <input class="text-box" id="level" type="number" name="level" value="{{.Level}}" />
      </div>
    </div>
    <div class="form-group">
      <label class="form-label" for="review-at">Next Review</label>
      <div>
        <input class="text-box" id="review-at" type="date" name="review_at" value="{{.ReviewAt}}" />
      </div>
    </div>
    <div class="form-group">
      <label class="form-label" for="text">Text</label>
      <div>
        <textarea class="text-box text-box--multiline" id="text" name="text">{{.Text}}</textarea>
      </div>
    </div>
    <button class="submit-button">Update</button>
  </form>
</div>