<style>
  .passage-text-input {
    resize: vertical;
    width: 100%;
    height: 300px;
  }
</style>

<div class="view">
  <h2 class="view-heading">Edit {{.Reference}}</h2>
  <form hx-put="/passages/{{.Id}}">
    <div class="form-group">
      <label class="form-label" for="reference">Reference</label>
      <div>
        <input class="text-input" id="reference" type="text" name="reference" value="{{.Reference}}" required
          pattern="(.+?)\s*(\d+)[.:](\d+)\s*-\s*(\d+)[.:](\d+)" />
      </div>
    </div>
    <div class="form-group">
      <label class="form-label" for="level">Level</label>
      <div>
        <input class="text-input" id="level" type="number" name="level" value="{{.Level}}" required min="0" max="12"
          step="1" />
      </div>
    </div>
    <div class="form-group">
      <label class="form-label" for="review-at">Next Review</label>
      <div>
        <input class="text-input" id="review-at" type="date" name="review_at" value="{{.ReviewAt}}" />
      </div>
    </div>
    <div class="form-group">
      <label class="form-label" for="text">Text</label>
      <div>
        <textarea class="multiline-text-input passage-text-input" id="text" name="text" required>{{.Text}}</textarea>
      </div>
    </div>
    <button class="button">Update</button>
  </form>
</div>