{% extends "layout.html" %}

{% block body %}
<h1>Bible Memory</h1>
<table>
  <thead>
    <tr>
      <th>Passage</th>
      <th>Level</th>
      <th>Actions</th>
    </tr>
    <tr>
      <td colspan="3">
        <a href="/passages/new">Add Passage</a>
      </td>
    </tr>
  </thead>
  <tbody>
    {% for passage in passages %}
    <tr>
      <th>{{passage.reference}}</th>
      <td>{{passage.level}}</td>
      <td>
        <a href="/passages/{{passage.id}}/review">Review</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}