<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="/assets/typer.css" rel="stylesheet" />

  <script src="https://unpkg.com/htmx.org@1.9.10"
    integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
    crossorigin="anonymous"></script>
  <script src="/assets/typer.js"></script>

  <style>
    body {
      margin: 0;
      font-family: sans-serif;
    }

    .header {
      background: lightgrey;
      padding: 8px;
    }

    .app-name {
      margin: 0;
    }

    .wrapper {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      height: 100vh;
    }

    .content {
      flex-grow: 1;
    }
  </style>

  {{template "head" .}}
</head>

<body hx-boost="true">
  <div class="wrapper">
    <header class="header">
      <h1 class="app-name">Bible Memory</h1>
    </header>
    <div class="content">
      {{template "body" .}}
    </div>
  </div>
</body>

</html>