{{define "head"}}<title>Log In | Bible Memory</title>{{end}}
{{define "body"}}
<div class="view view--centered">
  <div>
    <h2 class="view-heading">Log In</h2>
    <form action="/users/login" method="POST">
      <div class="form-group">
        <label class="form-label" for="email">Email</label>
        <div>
          <input id="email" class="text-input" name="email" required />
        </div>
      </div>
      <div class="form-group">
        <label class="form-label" for="password">Password</label>
        <div>
          <input id="password" type="password" class="text-input" name="password" required />
        </div>
      </div>
      <button class="button">Log In</button>
    </form>
  </div>
</div>
{{end}}