{{define "head"}}<title>Passages | Bible Memory</title>{{end}}
{{define "body"}}
<h1>Passages</h1>
<table>
  <thead>
    <tr>
      <td>Reference</td>
      <td>Level</td>
      <td>Actions</td>
    </tr>
    <tr>
      <td colspan="3">
        <a href="/passages/new">Add Passage</a>
      </td>
    </tr>
  </thead>
  <tbody>
    {{range .Passages}}
    <tr>
      <td>{{.Reference}}</td>
      <td>{{.Level}}</td>
      <td>
        <a href="/passages/{{.Id}}/learn">Learn</a> |
        <a href="/passages/{{.Id}}/recall">Recall</a> |
        <a href="/passages/{{.Id}}/review">Review</a> |
        <button type="button" hx-delete="/passages/{{.Id}}" hx-confirm="Are you want to delete {{.Reference}}?"
          hx-target="closest tr" hx-swap="outerHTML swap:1s">Delete</button>
      </td>
    </tr>
    {{end}}
  </tbody>
</table>
{{end}}