{{define "head"}}<title>Passages | Bible Memory</title>{{end}}
{{define "body"}}
<style>
  .content-wrapper {
    display: flex;
    height: 100%;
  }

  .sidebar {
    width: 30%;
    border-right: 1px solid lightgray;
  }

  .main {
    flex-grow: 1;
  }

  .add-passage {
    padding: 8px;
    margin: 0 8px;
  }

  .add-passage,
  .passage-link {
    color: inherit;
    text-decoration: none;
    display: block;
  }

  .passage-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .passage-list-item {
    padding: 8px;
    margin: 0 8px;
    border-top: 1px solid lightgrey;
  }
</style>
<div class="content-wrapper">
  <div class="sidebar">
    <a class="add-passage" href="/passages/new">Add Passage</a>
    <ul class="passage-list">
      {{range .Passages}}
      <li class="passage-list-item">
        <a class="passage-link" href="/passages/{{.Id}}/review" hx-target="#main">
          {{.Reference}}
        </a>
      </li>
      {{end}}
    </ul>
  </div>
  <div class="main" id="main">
    {{template "main" .}}
  </div>
</div>
{{end}}

{{define "main"}}{{end}}