{{define "head"}}<title>Passages | Bible Memory</title>{{end}}
{{define "body"}}
<style>
  .content-wrapper {
    display: flex;
    height: 100%;
  }

  .sidebar {
    width: 30%;
    border-right: 1px solid lightgray;
  }

  .main {
    flex-grow: 1;
  }

  .add-passage {
    padding: 8px;
    margin: 0 8px;
    display: block;
    border-bottom: 1px solid lightgrey;
  }

  .add-passage,
  .passage-link {
    color: inherit;
    text-decoration: none;
  }

  .passage-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .passage-list-item {
    padding: 8px;
    margin: 0 8px;
    border-bottom: 1px solid lightgrey;
  }

  .passage-list-item-row-1 {
    display: flex;
    align-items: center;
  }

  .passage-link {
    flex-grow: 1;
  }

  .passage-review-date {
    font-size: 12px;
  }

  .passage-delete {
    border: none;
    background: none;
    color: darkred;
    font-weight: bold;
    font-size: inherit;
    width: 24px;
    height: 24px;
  }

  .delete-icon {
    fill: red;
  }
</style>
<div class="content-wrapper">
  <div class="sidebar">
    <a class="add-passage" href="/passages/new" hx-target="#main">Add Passage</a>
    <ul class="passage-list">
      {{range .Passages}}
      <li class="passage-list-item">
        <div class="passage-list-item-row-1">
          <a class="passage-link" href="/passages/{{.Id}}/review" hx-target="#main">
            {{.Reference}}
          </a>
          <button class="passage-delete" hx-delete="/passages/{{.Id}}" hx-target="closest li" hx-swap="outerHTML"
            hx-confirm="Are you sure you want to delete {{.Reference}}?" title="Delete">
            <span class="sr-only">Delete</span>
            <svg class="icon delete-icon">
              <use href="assets/icons.svg#trash" />
            </svg>
          </button>
        </div>
        <div class="passage-list-item-row-2">
          <span class="passage-review-date">{{.ReviewAt}}</span>
        </div>
      </li>
      {{end}}
    </ul>
  </div>
  <div class="main" id="main">
    {{template "main" .}}
  </div>
</div>
{{end}}

{{define "main"}}{{end}}