{{define "head"}}<title>Profile | Bible Memory</title>{{end}}
{{define "body"}}
<div class="view view--centered">
  <div>
    <h2 class="view-heading">My Profile</h2>
    <form hx-put="/users/profile">
      <div class="form-group">
        <label class="form-label" for="email">Email</label>
        <div>
          <input id="email" class="text-input" name="email" value="{{.User.Email}}" />
        </div>
      </div>
      <div class="form-group--2-column">
        <div>
          <label class="form-label" for="first-name">First Name</label>
          <div>
            <input id="first-name" class="text-input" name="first_name" value="{{.User.FirstName}}" />
          </div>
        </div>
        <div>
          <label class="form-label" for="last-name">Last Name</label>
          <div>
            <input id="last-name" class="text-input" name="last_name" value="{{.User.LastName}}" />
          </div>
        </div>
      </div>
      <div class="form-group--2-column">
        <div>
          <label class="form-label" for="password">New Password</label>
          <div>
            <input id="password" type="password" class="text-input" name="password" />
          </div>
        </div>
        <div>
          <label class="form-label" for="confirm_password">Confirm Password</label>
          <div>
            <input id="confirm_password" type="password" class="text-input" name="confirm_password" />
          </div>
        </div>
      </div>
      <button class="button">Update</button>
    </form>
  </div>
</div>
{{end}}