package view

templ PublicIndexPage() {
    <div class="p-4 flex flex-col items-center gap-4">
      <a href="/users/register" class="button" hx-target="#page">Register</a>
      or
      <a href="/users/login" class="button" hx-target="#page">Log In</a>
    </div>
}
